<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

<% include include_cabecera.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p>Acceso a API <a href="/apiv1/admin?apikey=123">admin con apiKey auth</a></p>

    <p>Prueba: <%- prueba %></p>

    <h3>el segundo actual es <%= par %></h3>


<% if (par === 'par') { %>

    <p>como es par pinto la lista</p>

    <% lista.forEach(function(elem) { %>

      <p><%= elem %></p>

    <% }) %>

<% } else { %>

    <p>como es impar no pinto la lista</p>

<% } %>

<p>variable que no existe: <%= locals.par1 ? locals.par1 : 'noexiste' %></p>

  </body>
</html>
